# ------------------------------------------------------------------------------
# Entornos Virtuales de Python (venv)
# ------------------------------------------------------------------------------
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# ------------------------------------------------------------------------------
# Byte-compiled / archivos de caché de Python
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# ------------------------------------------------------------------------------
# Logs y bases de datos locales
# ------------------------------------------------------------------------------
*.log
history/
*.sqlite3

# ------------------------------------------------------------------------------
# Archivos de PyInstaller / Compilación a .exe (Fase Final)
# ------------------------------------------------------------------------------
build/
dist/
*.manifest
*.spec

# ------------------------------------------------------------------------------
# IDEs y Editores de código
# ------------------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# ------------------------------------------------------------------------------
# Variables de entorno y llaves secretas
# ------------------------------------------------------------------------------
.env
config.json